Convert categorical to numerical using sklearn

In [17]:
import numpy as np
import pandas as pd

employeeName = ['Shirisha','Palash','Sapna','Prashanth','Kiran','Harsha']
Technology = ['React','SQL','Angular','SQL','Angular','React']
Experience = [3,2,1,2,3,4]
EmployeeNumber = [101,102,103,104,105,106]
data = {
    'Employee Name' : employeeName,
    'Technology' : Technology,
    'Experience' : Experience
}


df1 =  pd.DataFrame(data, index=EmployeeNumber)
df1

    Employee Name Technology  Experience
101      Shirisha      React           3
102        Palash        SQL           2
103         Sapna    Angular           1
104     Prashanth        SQL           2
105         Kiran    Angular           3
106        Harsha      React           4

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
df1['Technology'] = le.fit_transform(df1['Technology'].values)
df1

    Employee Name  Technology  Experience
101      Shirisha           1           3
102        Palash           2           2
103         Sapna           0           1
104     Prashanth           2           2
105         Kiran           0           3
106        Harsha           1           4