TASK 5 Dictionaries

In [5]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

From the above dictionary, do the following tasks

 1. access "Mike"
 2. access 80
 3. change "Mike" to "Your name"
 4. add ML = 80 and DL = 80 inside marks

In [6]:
#1.access "Mike"
var1 = dict1["april_batch"]["student"]["name"]
print(var1)

Mike

In [7]:
#2.access 80
var2 = dict1["april_batch"]["student"]["marks"]["python"]
print(var2)

80

In [8]:
#3.change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"]=["Shirisha"]
print(dict1)

{'april_batch': {'student': {'name': ['Shirisha'], 'marks': {'python': 80, 'maths': 70}}}}

In [10]:
#4.add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"]["ML"] = 80
dict1["april_batch"]["student"]["marks"]["ML"] = 80
print(dict1)

{'april_batch': {'student': {'name': ['Shirisha'],
   'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [11]:
dict1

{'april_batch': {'student': {'name': ['Shirisha'],
   'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}