Task6 - Add and remove the elements from a tuple.

In [8]:
tup1 = (1,4,6,"jupiter",9.78,False,True,1,4,5,8.9)
tup1

(1, 4, 6, 'jupiter', 9.78, False, True, 1, 4, 5, 8.9)

In [9]:
list1 = list(tup1) #changing to list
list1

[1, 4, 6, 'jupiter', 9.78, False, True, 1, 4, 5, 8.9]

In [10]:
#add elements using append
list1.append(100)
list1

[1, 4, 6, 'jupiter', 9.78, False, True, 1, 4, 5, 8.9, 100]

In [11]:
#add elements using insert
list1.insert(3,"Mars")
list1

[1, 4, 6, 'Mars', 'jupiter', 9.78, False, True, 1, 4, 5, 8.9, 100]

In [12]:
#remove elements using pop
list1.pop(2) #removes element at index 2
list1

[1, 4, 'Mars', 'jupiter', 9.78, False, True, 1, 4, 5, 8.9, 100]

In [13]:
#using remove
list1.remove(4) #removes first occured item 4
list1

[1, 'Mars', 'jupiter', 9.78, False, True, 1, 4, 5, 8.9, 100]

In [14]:
tup1 = tuple(list1) #again changing it to tuple
tup1

(1, 'Mars', 'jupiter', 9.78, False, True, 1, 4, 5, 8.9, 100)