TASK 1: Other built in functions

In [6]:
#absolute 
a = abs(0)
b = abs(-1) #absolute of -1 will be 1
c = abs(1)
print(a)
print(b)
print(c)

0
1
1

In [12]:
bin(10) #converts an integer to a binary string, input should be integer only

'0b1010'

In [16]:
bool('s') # converts a value to boolean, returns false if given an empty string or 0

True

In [20]:
chr(68) #returns the character for an ASCII value

'D'

In [22]:
complex(3) #creates a complex number
#complex(3+6j)

(3+6j)

In [23]:
dict([(1,2),(4,7)]) # creates  dictionary

{1: 2, 4: 7}

In [24]:
divmod(79,9) #takes two parameters, and returns a tuple of their quotient and remainder

(8, 7)

In [27]:
x=10
eval('(x+10)/9') #takes a string as an argument, which is parsed as an expression

2.2222222222222223

In [28]:
float('10') #converts an int or a compatible value into a float

10.0

In [29]:
hex(89) #converts an integer to hexadecimal.

'0x59'

In [31]:
int('2') #converts a value to an integer, if you give a string which cannot be converted into int, throws an error

2

In [33]:
list({1,5,7,8,9}) #creates a list from a sequence of values.

[1, 5, 7, 8, 9]

In [36]:
max(100,10,98,7) #returns the item, in a sequence, with the highest value of all
#max('HELLO','hello','Hello')

'hellO'

In [37]:
k= object() #creates an object
type(k)

object

In [38]:
oct(100) #converts an integer to its octal representation

'0o144'

In [39]:
pow(10,3) #returns the value of x to the power of y, x=10, y=3

1000

In [40]:
round(10.78960, 2) #rounds off the float by second argument

10.79

In [41]:
set([2,7,89,7,8,8,8]) #returns a set of the items passed to it

{2, 7, 8, 89}

In [43]:
#sorted([1,6,3,8,3,5,78,90]) #prints out a sorted version of an iterable
sorted('Welcome')

['W', 'c', 'e', 'e', 'l', 'm', 'o']

In [44]:
str(90) #returns the string equivalent

'90'

In [51]:
sum([1,5,6],67) #takes an iterable as an argument, and returns the sum of all values

79

In [52]:
tuple([1,2,6,7]) #creates a tuple

(1, 2, 6, 7)

In [53]:
a=89
type(a) #gives type

int